body {
    width: 280px;
    min-height: 100px;
    border: 10px solid #eee;
    padding: 20px;
    margin: 0px;
    color: #778591;
    font-family: "nimbus-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

.candidate, .authenticate {
    text-align: center;
}

.candidate .avatar {
    width: 80px;
    border: 4px solid #eee;
    border-radius: 50px
}

.candidate h1 {
    margin-top: 5px;
}

.positions {
    padding-left: 0px;
    max-height: 300px;
    overflow-y: scroll;
}

.positions li  {
    background: #fafafa;
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 5px;
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: .3s;
}

.positions li h3  {
    margin: 0 0 3px 0;
    font-size: 12px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.positions li small {

}

.positions li.enabled {
    background: #def7ea;
}

.positions li.disabled:hover {
    background: #f0f0f0;
}

.hero {
    text-align: center;
}

.hero i {
    color: #76d691;
    font-size: 80px;
}

h1, h2, h3 {
    color: #68747e;
}

input[type='email'], input[type='password'] {
    border: 2px solid #eee;
    background: #fff;
    font-size: 14px;
    padding: 6px 10px;
    line-height: 20px;
    border-radius: 4px;
    -webkit-transition: .3s;
    outline: none;
    margin-bottom: 10px;
}

button i {
    margin-right: 5px;
}

button {
    background-color: #5ac0e5;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    border: none;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
}

button:hover {
    background-color: #41A7CC;
}